service firebase.storage {
  match /b/{bucket}/o {
    match /images {
      match /{allImages=**} {
        allow read;
      }

      match /users {
        match /{userId}/{allPaths=**} {
          allow write: if request.auth.uid == userId;
        }
      }
    }
  }
}
